.button{
    cursor: pointer;
    font: inherit;
    border:none;
    background-color: #4d0306;
    color: rgb(255, 255, 255);
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px inset;
   /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.button:hover,
.button:active{
    background-color: rgb(94, 94, 94);
}
.cart-text{
    font-size: 1.1rem;;
}
.icon{
    width:1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;

}
.badge{
    background-color: rgb(155, 2, 10);;;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;

}
.button:hover .badge,
.button:active .badge{
 background-color: rgb(224, 193, 15);
 color: rgb(155, 2, 10);;
}
.bump{
    animation: bump 300ms ease-out ;
}

@keyframes bump {

    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(0.9);
    }
    30%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }

}
